body {
    background-image: url("imgs/pokerbg.jpeg");
    background-color: green;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#wallet-div, #cards-value-div {
    display: flex;
    justify-content: end;
    margin-right: 3%;
}
#dealers-value-div {
    display: flex;
    justify-content: start;
}
#cards-text {
    padding-right: 7px;
}
#cards-num {
    color: red;
}
#add-money-btn {
    font-size: 20px;
    background-color: rgba(250, 250, 250, .7);
}

button {
    background-color: black;
    font-size: 3rem;
}
#hit-btn{
    color: rgb(0, 220, 0);
}
/* #bet-div {
    
} */
#bet-btn {
    color: red;
}
#pass-btn {
    color: seashell;
}

/* #wallet-text, #wallet-num {

} */